.btn {
    border-color: #CCCCCC;
    font-size: 30px;
    font-weight: lighter;
    padding: 20px 37px;
}

.check_icon {
    position: absolute;
    top: 40px;
    height: 100%;
    z-index: 10;
}

.cross_icon {
    position: absolute;
    top: -15px;
    height: 50%;
    z-index: 10;
    transform: translateX(-190%);
}

.left {
    background-color: #E0DEDE;
}

.right {
    background-color: #EFEFEF;
}

.left_check {
    left: -30px;
}

.right_check {
    right: -30px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .btn {
        font-size: 20px;
    }
}