/* You can add global styles to this file, and also import other style files */
#body-m {
    background-color: #FDF6F6;
  }

.logostic-title {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 72px;
  text-align: center;
}
.logostic-message {
  font-size: 36px;
  margin-bottom: 23px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  /* Styles */
  .logostic-title {
    font-size: 55px;
  }
  .logostic-message {
    font-size: 20px;
  }
}